{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <section class="hero is-medium is-primary has-background">
      <img class="hero-background is-transparent" src="{{ .Params.featured | relURL }}" alt="">
      <div class="hero-body">
        <div class="container">
          <h1 class="hero-quote is-3 title has-little-margin">{{ .Title }} </h1>
          <h2 class="hero-quote has-text-light is-5 subtitle">{{ .Params.description }} </h2>
        </div>
      </div>
    </section>
    <section class="hero is-medium is-info">
      {{ range .Pages }}
        {{ if eq .Params.layout "project-main"}}
          {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-256x256 is-cover" "authors" .Params.authors )}}

          {{ partial "content-ov.html" $p }}
        {{ end }}
      {{ end }}
    </section>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
