{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  <section class="hero is-small is-light override-navbar">
    <div class="hero-body">
      <h1 class="hero-quote">{{ .Title }}</h1>
    </div>
  </section>
  {{ range first 1 .Pages}}
  {{ partial "featured-hero.html" . }}
  {{ end }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<div class="column has-navbar-fixed-top">
  <div class="container">
    <section class="section">
      <div class="columns is-multiline">
        {{ range first 1 .Pages}}
          <div class="column is-half">
            <div class="card">
              {{ partial "card.html" . }}
            </div>
          </div>
        {{ end }}
        <div class="column is-half">
          {{ partial "calendar.html" . }}
        </div>

      </div>

      <div class="columns is-multiline">
        {{ range.Pages }}
        <div class="column is-3">
          <div class="card">
            {{ partial "card.html" . }}
          </div>
        </div>
        {{ end }}
      </div>
    </section>
  </div>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
