{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <!-- Featured entries -->
    <section class="section square-3-hero has-no-padding top-hero">
      <div class="columns has-no-margin">
          <div class="has-background-white column square-3 has-no-padding">
            <div class="is-primary">
              <div class="hero-body has-padding-1em">
                <div class="">
                  <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/blog/">
                    <h1 class="hero-quote is-3 title has-little-margin">{{ .Title }} </h1>
                    <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
                    <h2 class="hero-quote has-text-success is-5 subtitle"> {{ .Site.Params.announcement | markdownify }}</h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{ range first 1 (where .Pages ".Params.type" "event")}}
            {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-primary" "imgclass" "" "date" .Params.date )}}
            {{ partial "square3.html" $p }}
          {{ end }}
          {{ range first 1 (where .Pages ".Params.type" "blog")}}
            {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-primary" "imgclass" "" "date" .Params.date )}}
            {{ partial "square3.html" $p }}
          {{ end }}
      </div>
    </section>


    <section class="hero square-6-hero is-greyr">
      <div class="columns has-no-margin is-multiline is-mobile">
        {{ range first 6 (after 1 (where .Pages ".Params.type" "blog"))}}
          {{ partial "square6.html" . }}
        {{ end }}
      </div>
    </section>

    <!-- Tags Block -->
    {{ $p := (dict "context" . "pages" .Pages "url" $.Site.BaseURL "lang" $.Site.LanguagePrefix )}}
    {{ partial "tags-block.html" $p }}
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
