{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">
    <!-- Featured entries -->
    <section class="section square-3-hero has-no-padding override-navbar">
      <div class="columns has-no-margin">
          <div class="has-background-white column square-3 has-no-padding">
            <div class="is-primary">
              <div class="hero-body has-padding-1em">
                <div class="has-big-margin-bottom">
                  {{ partial "breadcrumb.html" . }}
                </div>
                <div class="">
                  <h1 class="hero-quote is-3 title has-little-margin">{{ .Title }} </h1>
                  <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
                </div>
              </div>
            </div>
          </div>
          {{ range first 1 (where .Pages ".Params.type" "event")}}
          <div class="column square-3 has-no-padding">
            <div class="hero is-large is-primary has-background stretch">
              <img class="hero-background is-transparent" src="{{ .Params.featured | relURL }}" alt="">
              <div class="hero-body has-padding-1em">
                <div class="has-big-margin-bottom">
                  <h2  class="hero-quote is-6 title has-text-right">{{ dateFormat "02.01.2006" .Params.date }}</h2>
                </div>
                <div class="container">
                  <h1  class="hero-quote is-3 title has-little-margin">{{ .Title }}</h1>
                  <h2  class="hero-quote is-6 title">{{ .Params.description }}</h2>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ range first 1 (where .Pages ".Params.type" "blog")}}
          <div class="column square-3 has-no-padding">
            <div class="hero is-large is-link has-background stretch">
              <img class="hero-background is-transparent" src="{{ .Params.featured | relURL }}" alt="">
              <div class="hero-body has-padding-1em">
                <div class="has-big-margin-bottom">
                  <h2  class="hero-quote is-6 title has-text-right">{{ dateFormat "02.01.2006" .Params.date }}</h2>
                </div>
                <div class="container">
                  <h1  class="hero-quote is-3 title has-little-margin">{{ .Title }}</h1>
                  <h2  class="hero-quote is-6 title">{{ .Params.description }}</h2>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>
    </section>


    <section class="hero square-6-hero is-grey override-navbar">
      <div class="columns has-no-margin is-multiline is-mobile">
        {{ range first 6 (after 1 (where .Pages ".Params.type" "blog"))}}
        <div class="column has-no-padding square-6">
          <a href="{{ .Permalink}}">
          <div class="hero is-large is-light has-background stretch">
            <img class="hero-background is-transparent" src="{{ .Params.featured | relURL }}" alt="">
            <div class="hero-body has-padding-1em">
              <div class="container">
                <h3 class="hero-quote ov has-text-link has-text-right">
                  {{ with .Params.date }}
                    {{ dateFormat "02.01.2006" . }}
                  {{ end }}
                </h3>
                <h1  class="hero-quote is-7 has-text-dark has-little-margin">{{ .Title }}</h1>
              </div>
            </div>
          </div>
        </a>
        </div>
        {{ end }}
      </div>
    </section>
    <section class="hero is-medium is-primary">
      <div class="hero-body has-text-centered">
        {{ $thistaxonomy := .Param "tags"}}
        {{ $title := .Title}}
        {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
          {{ if in $thistaxonomy $key }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else if eq $key $title}}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote">#{{ $key }} </span>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </section>
    <section class="hero is-medium is-info">
      {{ range .Pages }}
        {{ if ne .Type "tags"}}
          {{ partial "content-ov.html" . }}
        {{ else }}
          {{ range .Pages }}
            {{ partial "content-ov.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    </section>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
