{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
<div class="column has-navbar-fixed-top has-no-padding">

    <!-- Square-3 -->
    <section class="section square-3-hero has-no-padding override-navbar">
      <div class="columns has-no-margin">
          <div class="has-background-white column square-3 flex-height has-no-padding">
            <div class="is-primary">
              <div class="hero-body has-padding-1em">
                <div class="has-big-margin-bottom">
                  {{ partial "breadcrumb.html" . }}
                </div>
                <div class="">
                  <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/blog/">
                    <h1 class="hero-quote is-3 title has-little-margin">{{ .Title }} </h1>
                    <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{ $p := (dict  "image" .Params.featured "color" "is-primary" "imgclass" "" )}}
          {{ partial "square3.html" $p }}

          {{ $projecttag := index .Params.tags 0}}
          {{ $projecttaxonomy := index .Site.Taxonomies.tags (index .Params.tags 0)}}
          {{ range first 1 ( where $projecttaxonomy.Pages ".Params.type" "blog")}}
            {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-primary" "imgclass" "" "date" .Params.date )}}
            {{ partial "square3.html" $p }}
          {{ end }}
      </div>
    </section>

    <!-- Square-6 -->
    <section class="hero is-light override-navbar">
      <div class="hero-body has-text-centered">

        <h2 class="hero-quote has-text-success is-5 subtitle"> Team </h2>
        <div class="columns is-multiline is-mobile" >
            {{ $projectteam := .Params.team }}
            {{ range .Site.Data.authors }}
              {{ if ne (index .team $projectteam) ""}}
                <div class="column is-one-fifth-fullhd  is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                  <div class="is-flex has-text-centered" style="justify-content:center">
                    <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/people#{{ .id }}">
                      <div class="is-flex" style="justify-content:center">
                        <figure class="image is-64x64 ov-img is-hidden-mobile">
                          <img class="is-rounded" src="{{ .featured | relURL }}">
                        </figure>
                      </div>
                      <h2 class="hero-quote ov"> {{ .name }}</h2>
                      <h3 class="hero-quote ov">{{ (index .team $projectteam) }}</h3>
                    </a>
                  </div>
                </div>
              {{ end }}
            {{ end }}
      </div>
      </div>
    </section>

    <!-- Tags -->
    <section class="hero is-medium is-primary">
      <div class="hero-body has-text-centered">
        {{ $thistaxonomy := .Param "tags"}}
        {{ $title := .Title}}
        {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
          {{ if in $thistaxonomy $key }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else if eq $key $title}}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote">#{{ $key }} </span>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </section>

    <!--  Related Blog Pages -->
    <section class="hero is-medium is-info">
      {{ range ( where $projecttaxonomy.Pages ".Params.type" "blog")}}
        {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "tags" .Params.tags "authors" .Params.authors )}}

        {{ partial "content-ov.html" $p }}
      {{ end }}
    </section>
</div>
  {{ partial "header.html" . }}
{{ end }}

{{ define "non-section-main" }}
<div class="column has-navbar-fixed-top has-no-padding">

    <!-- Square-3 -->
    <section class="section square-3-hero has-no-padding override-navbar">
      <div class="columns has-no-margin">
          <div class="has-background-white column square-3 flex-height has-no-padding">
            <div class="is-primary">
              <div class="hero-body has-padding-1em">
                <div class="has-big-margin-bottom">
                  {{ partial "breadcrumb.html" . }}
                </div>
                <div class="">
                  <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/blog/">
                    <h1 class="hero-quote is-3 title has-little-margin">{{ .Title }} </h1>
                    <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description }} </h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{ $p := (dict  "image" .Params.featured "color" "is-primary" "imgclass" "" )}}
          {{ partial "square3.html" $p }}

          {{ $projecttag := index .Params.tags 0}}
          {{ $projecttaxonomy := index .Site.Taxonomies.tags (index .Params.tags 0)}}
          {{ range first 1 ( where $projecttaxonomy.Pages ".Params.type" "blog")}}
            {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-primary" "imgclass" "" "date" .Params.date )}}
            {{ partial "square3.html" $p }}
          {{ end }}
      </div>
    </section>

    <!-- Square-6 -->
    <section class="hero is-light override-navbar">
      <div class="hero-body has-text-centered">

        <h2 class="hero-quote has-text-success is-5 subtitle"> Team </h2>
        <div class="columns is-multiline is-mobile" >
            {{ $projectteam := .Params.team }}
            {{ range .Site.Data.authors }}
              {{ if ne (index .team $projectteam) ""}}
                <div class="column is-one-fifth-fullhd  is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                  <div class="is-flex has-text-centered" style="justify-content:center">
                    <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/people#{{ .id }}">
                      <div class="is-flex" style="justify-content:center">
                        <figure class="image is-64x64 ov-img is-hidden-mobile">
                          <img class="is-rounded" src="{{ .featured | relURL }}">
                        </figure>
                      </div>
                      <h2 class="hero-quote ov"> {{ .name }}</h2>
                      <h3 class="hero-quote ov">{{ (index .team $projectteam) }}</h3>
                    </a>
                  </div>
                </div>
              {{ end }}
            {{ end }}
      </div>
      </div>
    </section>

    <!-- Tags -->
    <section class="hero is-medium is-primary">
      <div class="hero-body has-text-centered">
        {{ $thistaxonomy := .Param "tags"}}
        {{ $title := .Title}}
        {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
          {{ if in $thistaxonomy $key }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else if eq $key $title}}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote has-text-success">#{{ $key }} </span>
            </a>
          {{ else }}
            <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/tags/{{ $key}}/">
              <span class="hero-quote">#{{ $key }} </span>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </section>

    <!--  Related Blog Pages -->
    <section class="hero is-medium is-info">
      {{ range ( where $projecttaxonomy.Pages ".Params.type" "blog")}}
        {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "imgclass" "is-square is-128x128 ov-img" "date" .Params.date "tags" .Params.tags "authors" .Params.authors )}}

        {{ partial "content-ov.html" $p }}
      {{ end }}
    </section>
</div>
{{ end }}

{{ define "custom-js"}}
{{ end }}
