{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
  <div class="column has-navbar-fixed-top has-no-padding">

      <!-- Square-3 -->
      <section class="section square-3-hero has-no-padding">
        <div class="columns has-no-margin">
            <div class="has-background-white column flex-height">
                <div class="hero-body">
                  <div class="">
                    <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/blog/">
                      <h1 class="hero-quote is-3 title has-little-margin">{{ .Title }} </h1>
                      <h2 class="hero-quote has-text-grey is-5 subtitle">{{ .Params.description | markdownify }} </h2>
                    </a>
                  </div>
                </div>
            </div>
            {{ $p := (dict  "image" .Params.featured "color" "is-primary" "imgclass" "" )}}
            {{ partial "square3.html" $p }}

            {{ $projecttag := index .Params.tags 0}}
            {{ $projecttaxonomy := index .Site.Taxonomies.tags (index .Params.tags 0)}}
            {{ range first 1 ( where $projecttaxonomy.Pages ".Params.type" "blog")}}
              {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-primary" "imgclass" "" "date" .Params.date )}}
              {{ partial "square3.html" $p }}
            {{ end }}
        </div>
      </section>

      <!-- Square-6 -->
      <section class="hero is-light">
        <div class="hero-body has-text-centered">

          <h2 class="hero-quote has-text-success is-5 subtitle"> Team </h2>
          <div class="columns is-multiline is-mobile" style="justify-content:center">
              {{ $projectteam := .Params.team }}
              {{ range .Site.Data.authors }}
                {{ if ne (index .team $projectteam) ""}}
                  <div class="column is-one-fifth-fullhd  is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                    <div class="is-flex has-text-centered" style="justify-content:center">
                      <a href="{{ $.Site.BaseURL}}/{{ $.Site.LanguagePrefix }}/people/{{ .id }}">
                        <div class="is-flex" style="justify-content:center">
                          <figure class="image is-64x64 ov-img is-hidden-mobile">
                            <img class="is-rounded" src="{{ .thumb | relURL }}">
                          </figure>
                        </div>
                        <h2 class="hero-quote ov"> {{ .name }}</h2>
                        <h3 class="hero-quote ov">{{ (index .team $projectteam) }}</h3>
                      </a>
                    </div>
                  </div>
                {{ end }}
              {{ end }}
        </div>
        </div>
      </section>
  </div>
{{ end }}

{{ define "aside" }}
<div class="column is-hidden-mobile is-2">
  {{ partial "aside.html" . }}
</div>
{{ end }}

{{ define "main" }}
<div class="column is-half has-navbar-fixed-top">
  <div class="content">

    <div id="contents">
      <p>{{ .Content }}</p>
    </div>
  </div>
</div>
<div class="">
    {{ partial "references.html" .}}
</div>
{{ end }}

{{ define "pre-footer" }}
<!-- Tags -->
{{ $projecttaxonomy := index .Site.Taxonomies.tags (index .Params.tags 0)}}
{{ $pages := (where $projecttaxonomy.Pages ".Params.type" "blog" )}}

{{ $p := (dict "context" . "pages" .Pages "url" $.Site.BaseURL "lang" $.Site.LanguagePrefix )}}
{{ partial "tags-block.html" $p }}


{{ end }}

{{ define "custom-js"}}
{{ end }}
