@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800&display=swap')
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')

$family-primary: 'Lato', sans-serif

$primary: #2e4653
$info: #347175
$success: #74cb91
$link: #459e8a
