<div id="hero">
<section class="hero is-white is-medium override-navbar">
  <div class="hero-body">
    <div class="container" style="z-index:60">
      <figure class="image is-128x128">
        <img class="center" src="{{ .Site.Params.logo.notext | relURL }}">
      </figure>
      <h1 class="branding "> BIOTOP*</h1>
      <h2 class="branding-subtitle ">{{ i18n "subtitle" }}</h2>
    </div>
  </div>
  <!-- Hero footer: will stick at the bottom -->
</section>
<section class="hero is-primary has-text-centered is-medium override-navbar">
  <div class="hero-body">
    <div class="container" style="z-index:60">
      <h1 class="title hero-quote">
        {{ .Site.Params.description }}
      </h1>
      <h2 class="title hero-quote has-color-link is-5">
        <a href="#idx-content"> {{ i18n "more-about-biotop" }}</a>
      </h2>
    </div>
  </div>
</section>
</div>
</section>

<section class="section square-3-hero has-no-padding override-navbar">
  <div class="columns has-no-margin">
    {{ range first 1 (where .Pages ".Params.type" "event")}}
      {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-primary" "imgclass" "" "date" .Params.date )}}
      {{ partial "square3.html" $p }}
    {{ end }}
    {{ range first 2 (where .Pages ".Params.type" "blog")}}
      {{ $p := (dict "title" .Title "text" .Params.description "link" .Permalink "image" .Params.featured "color" "is-info" "imgclass" "" "date" .Params.date )}}
      {{ partial "square3.html" $p }}
    {{ end }}
  </div>
</section>

</section>
<section class="hero is-link has-text-centered is-medium override-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero-quote"> {{ i18n "about-biotop" }} </h1>
      <div class="columns is-multiline is-centered">

        {{ range .Site.RegularPages }}
          {{ if eq .Params.type "index" }}
            <div class="column is-one-third is-tablet">
              {{ $pdict := (dict "data" . "imgSize" "is-64x64" "faSize" "fa-2x" "h1Size" "is-5" "h4Size" "is-6")}}
              {{ partial "bubble.html" $pdict }}
            </div>
          {{ end}}
        {{ end }}
        {{ range .Sections }}
          <div class="column is-one-third is-tablet">
            {{ $pdict := (dict "data" . "imgSize" "is-64x64" "faSize" "fa-2x" "h1Size" "is-5" "h4Size" "is-6")}}
            {{ partial "bubble.html" $pdict }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
