{{ $lang := (i18n "lang")}}
{{ $site := .Site }}


<div class="is-flex" style="justify-content:center;flex-direction:column">
    <div class="is-flex" style="justify-content:center">
      <a href="{{ .link }}">
        <figure class="image {{ .picsize }} has-margin-bottom">
          <img class="{{ .imgclass }}" src="{{ .data.thumb | relURL }}">
        </figure>
      </a>
    </div>
    <div class="">
      <a href="{{ .link }}">
        <h2 class="elegant is-bold is-"> {{ .data.name }}</h2>
        <h3 class="elegant has-text-info">{{ index .data.role $lang }} | {{ index .data.trained $lang }}</h3>
      </a>
      {{ if eq .content "true" }}
      <div class="content">
        <p>{{ (index .data.bio $lang) | markdownify }}</p>
      </div>
      {{ end }}
      <div class="">
        {{ range $project,$role := .data.team }}
          {{ if ne $project "core" }}
            {{ if ne $role "" }}
                <h5 class="elegant has-text-info">
                  <span class="has-text-dark"> {{ $project }}: </span>
                  <span class="has-text-info"> {{ $role }}</span>
                </h5>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
</div>
